.login-page-container {
    background-image: linear-gradient(to right, rgb(200, 0, 0) , rgb(207, 142, 0));
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.form_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    
}

.form_body {
    width: 90%;
}

.logo_wrapper {
    position: fixed;
    top: 0.5rem;
    left: 2rem;
    z-index: 999;
    color: white;
}

.food-delivery  {
    position: absolute;
    top: 25%;
    left: 30%;
    object-fit: contain;
    z-index: -1;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30em;
   
    height: 40vh;
    width: 100%;
    margin-top: 10em;
    margin-right: 5em;
    border-radius: 30px;
    box-shadow: inset 5px 5px 15px #fb9d47;
}

.custom-shape-divider-bottom-1664716324 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664716324 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1664716324 .shape-fill {
    fill: #fb9d47;
}

