.food-item {
    width: 30%;
    margin: 0.5rem;
    min-height: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 7px 5px 11px rgba(0, 0, 0, 0.05);
}

.food-item-img-title {
    display: flex;
    flex-direction: column;
   position: relative;
    height: 250px;
    background-color: #fff;

}

.food-item-img-title img {
    width: 100%;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

.food-item-img-title p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05rem;
    padding: 0.25rem 1.5rem;
    height: 40px;
    color: #fff;
    text-align: left;
    text-transform:capitalize;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.food-item-img-title button {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    background: none;
    border-radius: 8px;
    font-weight: 500;
    color: #EE4D2D;
    border: 1px solid #EE4D2D;
}

.food-item-price {
    background-color: #EE4D2D;
    padding: 0 1.5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.food-item-price p {
    height: 30px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05rem;
}
